<button class="btn btn-success" (click)="showSpin()">Refresh</button>
<button class="btn btn-primary" (click)="openModal()">Add User</button>

<clr-modal [(clrModalOpen)]="open" clrLableSize="4">
  <h3 class="modal-title">User Form</h3>
  <div class="modal-body">
    <form [formGroup]="userForm" class="clr-form clr-form-compact">
      <clr-input-container>
        <label class="clr-control-label required">Name :</label>
        <input clrInput type="text" name="name" required formControlName="name" #name />
        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
      </clr-input-container>

      <!-- Email -->
      <clr-input-container>
        <label>Email :</label>
        <input clrInput type="text" name="email" required formControlName="email" #email />
        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
        <clr-control-error *clrIfError="'pattern'; error as err">It must match the pattern
        </clr-control-error>
      </clr-input-container>

      <!-- Radio button -->
      <clr-radio-container clrInline="">
        <label>Gender :</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="male" name="gender" #gender>
          <label>Male</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="female" name="gender" #gender>
          <label>Female</label>
        </clr-radio-wrapper>
      </clr-radio-container>


      <clr-radio-container clrInline="">
        <label>Status</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="active" name="status" #status />
          <label>Active</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="inactive" name="status" #status />
          <label>Inactive</label>
        </clr-radio-wrapper>
      </clr-radio-container>


      <!-- Checkbox -->

      <!-- <clr-checkbox-container clrInline="">
        <label>Status</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox value="active" name="status" #status />
          <label>Active</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox value="inactive" name="status" #status />
          <label>Inactive</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container> -->

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)=" open=false">Close</button> &nbsp;
    <button class="btn btn-primary"
      (click)="addItem(name.value, email.value, status.value, gender.value)">Submit</button>
  </div>
</clr-modal>

<!-- API display using datagrid -->
<br>


<!-- 
  only spinner
<div class="content-container">
  <div class="content-area centered-content-area">
    <div *ngIf="displayProgressSpinner">

      <clr-spinner clrMedium clrAssertive></clr-spinner>
    </div>
  </div>
</div> -->



<!-- to load datagrid alone  clrdgloading-->

<clr-datagrid [clrDgLoading]="displayProgressSpinner" [(clrDgSingleSelected)]="selected" [clrDgRowSelection]="true">
  <clr-dg-action-bar *ngIf="selected">
    <button class="btn btn-warning" (click)="openEditDialogModal()">Edit</button>
    <clr-modal [(clrModalOpen)]="openEditModal" clrLableSize="4">

      <div class="modal-body" *ngIf="selected">

      </div>

      <button>Add</button>

    </clr-modal>
  </clr-dg-action-bar>

  <clr-dg-column [style.width.p]="20">ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Email</clr-dg-column>
  <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user" (click)="onSelect(user)">
    <clr-dg-cell>{{user.id}}</clr-dg-cell>
    <clr-dg-cell>{{user.name}}</clr-dg-cell>
    <clr-dg-cell>{{user.email}}</clr-dg-cell>
    <clr-dg-cell>{{user.gender}}</clr-dg-cell>
    <clr-dg-cell>{{user.status}}</clr-dg-cell>
  </clr-dg-row>



  <clr-dg-row *ngFor="let item of list">
    <clr-dg-cell>{{item.id}}</clr-dg-cell>
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.email}}</clr-dg-cell>
    <clr-dg-cell>{{item.gender}}</clr-dg-cell>
    <clr-dg-cell>{{item.status}}</clr-dg-cell>
  </clr-dg-row>


</clr-datagrid>